@charset "UTF-8";
html, body {
  font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", serif;
  letter-spacing: 0.1em;
}

p {
  line-height: 1.8em;
}

body {
  background-color: none;
}

#page {
  margin: 0;
}

a {
  color: #3B373D;
}

a:hover {
  color: #967776;
  text-decoration: none;
}

.navbar {
  background-color: #FDEFEF;
  height: 250px;
}

.navbar .brand_logo {
  width: 16vw;
}

.navbar .brand_logo img {
  width: 100%;
}

.navbar li a {
  color: #3B373D;
  font-size: 25.6px;
}

.contents_title h2 {
  display: block;
  margin: 0 auto;
}

.contents_title h2.about {
  width: 402px;
}

.contents_title h2.news-blog {
  width: 290px;
}

.contents_title h2 img {
  width: 100%;
}

footer {
  background-color: #FDEFEF;
}

.photo_bg {
  display: flex;
  flex-wrap: wrap;
}

.photo_bg .photo_item {
  width: 10vw;
  height: 10vw;
}

.photo_bg .photo_item img {
  width: 100%;
}

section.about .head_img {
  width: 100%;
  height: 70vh;
  background-image: url(/img/about_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section.about .infomation p {
  font-size: 40.96px;
  margin-bottom: 0;
}

section.about .infomation p span.text_jp {
  font-family: "游ゴシック体", YuGothic;
  font-size: 25.6px;
}

section.news-blog .content .content_inner {
  border: 1px solid #E5E5E5;
  padding: 1em;
  margin-bottom: 1em;
  background: #fff;
}

section.news-blog .content .content_inner:hover {
  background-color: rgba(253, 239, 239, 0.35);
}

section.news-blog .content .content_inner p.date {
  font-size: 25.6px;
}

section.news-blog .content .content_inner p.head {
  font-size: 22.4px;
}

.contents_title .title-animation {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.contents_title .title-animation.news-blog {
  width: 290px;
  height: 86px;
}

.contents_title .title-animation.about {
  width: 402px;
  height: 91px;
}

.contents_title .title-animation > div {
  display: block;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.contents_title .title-about_base {
  width: 402px;
  height: 52px;
  background-image: url(../images/title-about_base.png);
  background-position: 402px;
}

.contents_title .title-about_base.animated {
  animation: title-about_base 2s forwards;
}

.contents_title .title-about_e {
  width: 320.5px;
  height: 50.5px;
  background-image: url(../images/title-about_e.png);
  top: 0;
  left: 60%;
  transform: translateX(-50%);
  background-position: left 50.5px;
}

.contents_title .title-about_e.animated {
  animation: title-about_e 2s forwards;
}

.contents_title .title-about_j {
  width: 323.5px;
  height: 39px;
  background-image: url(../images/title-about_j.png);
  top: 50px;
  left: 60%;
  transform: translateX(-50%);
  background-position: left 39px;
}

.contents_title .title-about_j.animated {
  animation: title-about_j 2s forwards;
}

.contents_title .title-news-blog_base {
  width: 290px;
  height: 50px;
  background-image: url(../images/title-about_base.png);
  background-position: 290px;
}

.contents_title .title-news-blog_base.animated {
  animation: title-news-blog_base 2s forwards;
}

.contents_title .title-news-blog_e {
  width: 202.5px;
  height: 49px;
  background-image: url(../images/title-news-blog_e.png);
  top: 0;
  left: 60%;
  transform: translateX(-50%);
  background-position: left 49px;
}

.contents_title .title-news-blog_e.animated {
  animation: title-news-blog_e 2s forwards;
}

.contents_title .title-news-blog_j {
  width: 202.5px;
  height: 36px;
  background-image: url(../images/title-news-blog_j.png);
  top: 50px;
  left: 60%;
  transform: translateX(-50%);
  background-position: left 36px;
}

.contents_title .title-news-blog_j.animated {
  animation: title-news-blog_j 2s forwards;
}

@keyframes title-about_base {
  0% {
    background-position: 402px;
  }
  50% {
    background-position: 0px;
  }
  100% {
    background-position: 0px;
  }
}

@keyframes title-about_e {
  0% {
    background-position: left 50.5px;
  }
  20% {
    background-position: left 50.5px;
  }
  70% {
    background-position: left 0;
  }
  100% {
    background-position: left 0;
  }
}

@keyframes title-about_j {
  0% {
    background-position: left -39px;
  }
  20% {
    background-position: left -39px;
  }
  70% {
    background-position: left 0;
  }
  100% {
    background-position: left 0;
  }
}

@keyframes title-news-blog_base {
  0% {
    background-position: 290px;
  }
  50% {
    background-position: 0px;
  }
  100% {
    background-position: 0px;
  }
}

@keyframes title-news-blog_e {
  0% {
    background-position: left 49px;
  }
  20% {
    background-position: left 49px;
  }
  70% {
    background-position: left 0;
  }
  100% {
    background-position: left 0;
  }
}

@keyframes title-news-blog_j {
  0% {
    background-position: left -36px;
  }
  20% {
    background-position: left -36px;
  }
  70% {
    background-position: left 0;
  }
  100% {
    background-position: left 0;
  }
}
